.booking {
  display: flex;
  flex-direction: column;
}

.booking__title {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-height: 177px;
  margin: 0;
  padding: 0;

  font-weight: bold;
  font-size: 27px;
  line-height: 30px;

  background-color: $color-underline;
}

.booking__preface {
  max-width: 260px;
  margin: 0 auto;
  margin-top: 17px;
  padding: 0;

  font-weight: normal;
  font-size: 13px;
  line-height: 24px;

  @include viewport--md {
    max-width: 668px;
    margin-top: 56px;

    font-size: 17px;
    line-height: 30px;
  }

  @include viewport--lg {
    max-width: 702px;
    margin-top: 111px;
    margin-left: 175px;
  }
}

.booking__button {
  margin: 30px auto 16px auto;

  line-height: 16px;

  @include viewport--md {
    width: 230px;
    margin: 0;
  }
}

.booking__form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;

  font-weight: bold;
  font-size: 17px;
  line-height: 18px;

  @include viewport--md {
    margin: 0;
  }
}

.booking__legend {
  position: relative;

  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;

  color: $color-lightdecor;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 60px;
    width: 200px;
    height: 1px;
    background-color: $color-mail;

    @include viewport--md {
      height: 0;
    }
  }

  @include viewport--md {
    width: 68px;
    margin-right: 100px;
    padding-top: 20px;
  }

  @include viewport--lg {
    width: 71px;
    margin-right: 40px;
    padding-top: 20px;
  }
}

.booking__fieldset {
  @include viewport--md {
    display: flex;
    flex-direction: row;
    width: 668px;
    min-height: 131px;
    margin: 0 auto;
    padding: 61px 0 0 216px;
  }
}

.booking__input {
  appearance: none;
  border: none;
  outline: none;

  font-weight: normal;
  font-size: 17px;
  line-height: 18px;
  color: $color-line3;

  @include viewport--md {
    font-size: 19px;
    line-height: 18px;
  }

  @include viewport--md {
    color: $color-content;
  }
}

.booking__comments {
  margin: 14px auto 0;

  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  @include viewport--md {
    order: 2;
    width: 330px;
    margin: 0;

    text-align: end;
    font-size: 17px;
    line-height: 30px;
  }
}
