.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 259px;
  height: 52px;
  padding: 16px auto;

  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-content;

  border: 2px solid $color-content;
  background-color: transparent;
}
