.catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-style: normal;

  color: $color-text;
}

.catalog__list {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  margin: 0 auto;
  padding: 0;

  list-style: none;

  @include viewport--md {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 668px;
    min-height: 334px;
    margin-top: 13px;
  }

  @include viewport--lg {
    flex-direction: row;
    width: 1050px;
    margin: 111px 0 0 0;
  }
}

.catalog__item {
  width: 100%;
  max-width: 400px;
  min-height: 374px;
  margin: 0;
  margin-top: 30px;
  padding: 0;

  border: 1px solid $color-underline;

  @include viewport--md {
    display: flex;
    max-width: 668px;
    min-height: 334px;
    margin-top: 54px;
  }

  @include viewport--lg {
    display: flex;
    flex-direction: column;
    max-width: 316px;
    min-height: 659px;
    margin: 0 51px 57px 0;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}

.catalog__picture {
  background-image: $color-fonpicture;
  width: 100%;
  // min-width: 260px;
  // max-width: 400px;

  @include viewport--md {
    width: 334px;
    height: 334px;
  }

  @include viewport--lg {
    width: 316px;
    height: 462px;
  }
}

.catalog__textblock {
  @include viewport--md {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 334px;
    height: 334px;
    padding: 27px 32px 25px 34px;
  }

  @include viewport--lg {
    display: flex;
    flex-direction: column;
    width: 316px;
    height: 197px;
    padding: 27px 28px;
  }
}

.catalog__link {
  max-width: 290px;
  margin: 0;
  padding: 28px 0 0 28px;

  font-weight: bold;
  font-size: 17px;
  line-height: 24px;

  @include viewport--md {
    margin: 0;
    padding: 0;
  }
}

.catalog__description {
  margin: 0;
  padding: 6px 0 0 28px;

  font-weight: normal;
  font-size: 13px;
  line-height: 30px;
  color: $color-text;

  @include viewport--md {
    margin: 6px 0 auto 0;
    padding: 0;
  }
}

.catalog__bottom {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 25px;
  margin: 40px 27px 27px 28px;

  &::after {
    content: "";
    position: absolute;
    top: -22px;
    left: 0;
    height: 1px;
    min-width: 204px;
    width: 100%;
    max-width: 344px;
    background-color: $color-underline;

    @include viewport--md {
      top: -22px;
      width: 268px;
    }

    @include viewport--lg {
      top: -22px;
      width: 256px;
    }
  }

  @include viewport--md {
    margin: 0;
  }
}

.catalog__price {
  margin: 0;
  padding: 0;

  // @include viewport--md {
  //   margin: 0;
  //   padding: 0;
  // }
}

.catalog__cart:hover svg,
.catalog__cart:focus svg {
  fill: $color-lightdecor;
}

.catalog__cart:active svg {
  fill: $color-lightdecor;
  opacity: 0.3;
}
