.entry {
  margin: 32px 0 0 0;

  font-style: normal;
  font-weight: bold;

  color: $color-text;

  @include viewport--md {
    margin: 55px auto 0 auto;
  }

  @include viewport--lg {
    margin: 68px auto 0 auto;
  }
}

.entry__title {
  width: 260px;
  margin: 0 auto;
  padding: 0;

  font-weight: bold;
  font-size: 25px;
  line-height: 30px;

  @include viewport--md {
    width: 668px;

    font-size: 43px;
    line-height: 50px;
  }

  @include viewport--lg {
    width: 700px;

    font-size: 53px;
    line-height: 57px;
  }
}

.entry__list {
  width: 260px;
  margin: 0 auto;
  padding: 0;
  // padding-top: 2px;
  list-style: none;

  font-size: 17px;
  line-height: 20px;

  @include viewport--md {
    column-count: 2;
    column-gap: 0;
    // column-fill: auto;
    width: 668px;
    margin-top: 10px;

    font-size: 20px;
    line-height: 22px;
  }

  @include viewport--lg {
    width: 700px;
  }
}

.entry__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 260px;
  min-height: 94px;
  margin: 0;
  margin-top: 29px;
  // padding-top: 54px;

  @include viewport--md {
    display: inline-block;
    width: 330px;
    min-height: 121px;
    margin-top: 32px;
  }
}

.entry__icon {
  padding-bottom: 16px;
  fill: $color-lightdecor;

  &--eco {
    margin-left: 8px;

    @include viewport--md {
      margin-left: 8px;
      margin-top: -1px;
      padding-bottom: 19px;
    }
  }

  &--style {
    @include viewport--md {
      margin: 2px 1px;
      padding-bottom: 25px;
    }
  }

  &--like {
    margin: 5px 7px;

    @include viewport--md {
      margin: 9px 8px;
      padding-bottom: 14px;
    }

    @include viewport--lg {
      padding-bottom: 11px;
    }
  }

  &--affection {
    margin: 2px 4px;
  }

  &--support {
    margin: 3px -6px;

    @include viewport--md {
      margin: 5px -6px;
      padding-bottom: 24px;
    }
  }

  &--pack {
    margin: 1px 3px;

    @include viewport--md {
      margin: 5px 3px;
    }
  }
}
