.featured {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 31px auto 0 auto;

  @include viewport--md {
    margin: 40px auto 0 auto;
  }

  @include viewport--lg {
    margin: 50px auto 0 auto;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 6px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-color: transparent;
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: contain;

    @include viewport--md {
      left: 50%;
      min-height: 17px;

      transform: translateX(-50%);
      // background-size: 100%;
    }

    @include viewport--lg {
      min-height: 23px;
      max-width: 1050px;
    }
  }
}

.featured__content {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 795px;

  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: $color-text;

  @include viewport--md {
    display: grid;
    grid-template:
      "a a b"
      "d c c"
      "e c c"
      "f c c"
      "h c c"
      /335px 207px 126px;
    align-items: start;
    min-height: 504px;
    margin-bottom: 69px;
  }

  @include viewport--lg {
    // grid-template-columns: 175px 350px 195px 330px;
    // grid-template-rows: 65px 93px 144px 230px 57px 52px 96px;

    grid-template:
      "a b c c"
      "a d c c"
      "a e c c"
      "a f c c"
      "a h c c"
      /175px 350px 195px 330px;

    min-height: 636px;
    margin-bottom: 96px;
  }
}

.featured__title {
  width: 260px;
  margin: 0;
  // margin-top: 2px;
  padding: 0;

  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: $color-text;

  @include viewport--md {
    grid-area: a;
    width: 450px;
    margin: 0;
    padding: 0 0 37px 0;

    font-size: 43px;
    line-height: 50px;
  }

  @include viewport--lg {
    order: 1;
    grid-area: b;
    width: 545px;
    margin-top: 65px;
    padding: 0 0 36px 0;

    font-size: 53px;
    line-height: 57px;
  }
}

.featured__weekproduct {
  width: 260px;
  margin: 6px 0 0 0;
  padding: 0;

  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;

  color: $color-lightdecor;

  @include viewport--md {
    grid-area: b;
    width: 126px;

    font-size: 17px;
    line-height: 17px;
    text-align: center;
  }

  @include viewport--lg {
    grid-area: a;
    margin: 73px 0 0 19px;
  }
}

.featured__features {
  width: $mobile-width - 2 * $padding-min;
  margin: 16px 0 0 0;
  padding: 0;

  @include viewport--md {
    grid-area: d;
    width: 292px;
    margin: 0;
    padding: 0 0 40px 0;

    font-size: 17px;
    line-height: 30px;
  }

  @include viewport--lg {
    grid-area: d;
    padding: 0 0 54px 0;
  }
}

.featured__table {
  width: 260px;
  margin: 20px 0 0 0;
  padding: 0;

  line-height: 20px;
  border-collapse: collapse;

  @include viewport--md {
    grid-area: e;
    width: 292px;
    margin: 0 0 60px 0;
    // padding: 0 0 10px 0;

    font-size: 17px;
    line-height: 30px;
  }

  @include viewport--lg {
    grid-area: e;
    width: 292px;
  }
}

.featured__td1,
.featured__td2 {
  padding: 8px 0 11px;
  background-color: transparent;
  border-bottom: 1px solid $color-underline;

  @include viewport--md {
    padding: 3px 0 6px;
  }

  @include viewport--lg {
    padding: 2px 0 7px;
  }
}

.featured__td1 {
  width: 100px;

  @include viewport--md {
    width: 80px;
  }
}

.featured__td2 {
  width: 163px;

  // @include viewport--md {
  //   width: 195px;
  // }
}

.featured__img {
  width: 260px;
  height: 315px;
  margin-top: 29px;

  @include viewport--md {
    grid-area: c;

    width: 333px;
    height: 404px;
    margin-top: 14px;
  }

  @include viewport--lg {
    grid-area: c;

    width: 525px;
    height: 636px;
    margin-top: 4px;
  }

  img {
    width: 100%;
    loading: lazy;
  }
}

.featured__price {
  max-width: 260px;
  margin: 27px auto 0;
  padding: 0;

  text-align: center;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;

  @include viewport--md {
    grid-area: f;
    width: 292px;
    max-width: 292px;
    margin: 0;
    padding: 0 0 32px 0;

    font-size: 20px;
    line-height: 24px;
  }

  @include viewport--lg {
    grid-area: f;
    margin: 0;
    padding: 0 0 33px 0;
  }
}

.featured__button {
  margin: 24px auto 20px;
  padding: 4px;

  @include viewport--md {
    grid-area: h;
    width: 292px;
    margin: 0;
  }

  @include viewport--lg {
    grid-area: h;
    margin: 0;
  }
}
