.filter-radio {
  outline: 2px solid green;
  outline-offset: -2px;

  // display: flex;
  // align-items: center;
  // justify-content: center;

  width: 100%;
  // min-height: 171px;
  margin: 29px 0 0 0;
  padding: 0;

  @include viewport--md {
    // display: block;
    width: 605px;
    height: 131px;
  }
}

.filter-radio__list {
  outline: 2px solid blue;
  outline-offset: -2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  min-height: 60px;
  margin: 24px 0 0 0;
  padding: 0;

  list-style: none;

  @include viewport--md {
    width: 435px;
    margin: 0;
  }
}

.filter-radio__label {
  outline: 2px solid violet;
  outline-offset: -2px;

  @include viewport--md {
    font-size: 19px;
    line-height: 18px;
  }
}

.filter-radio__input {
  outline: 2px solid purple;
  outline-offset: -2px;
}
