.filter-username {
  width: 260px;
  margin: 10px auto 0 auto;
  padding: 0;

  @include viewport--md {
    width: 668px;
    margin: 48px auto 0 auto;
  }

  @include viewport--lg {
    width: 811px;
    margin: 50px 175px 0 64px;
  }
}

.filter-username__list {
  display: flex;
  flex-direction: column;

  margin: 4px 0 0 0;
  padding: 0;

  list-style: none;

  @include viewport--md {
    margin: 2px 0 0 0;
  }
}

.filter-username__item {
  display: flex;
  flex-direction: column;

  width: 260px;
  min-height: 92px;
  margin: 0;
  padding: 0;

  @include viewport--md {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 501px;
    min-height: 53px;
    margin-bottom: 23px;
  }

  @include viewport--lg {
    width: 700px;
  }
}

.filter-username__label {
  min-height: 25px;
  margin: 25px 0 0 0;

  @include viewport--md {
    max-width: 70px;
    margin: 0 33px 0 0;
  }
}

.filter-username__input {
  position: relative;
  min-height: 43px;

  color: $color-cont3;

  border: none;
  box-shadow: inset 0 -2px 0 $color-content;
  background-color: transparent;

  @include viewport--md {
    flex-grow: 1;
    min-height: 51px;
    padding-left: 18px;
  }

  &:hover,
  &:focus {
    box-shadow: inset 0 -2px 0 $color-mail;
    outline: none;
  }

  &:active {
    color: $color-content;
    box-shadow: inset 0 -2px 0 $color-mail;
  }
}
