.filter-checkbox {
  width: 260px;

  margin: 27px auto 0 auto;
  padding: 0;

  @include viewport--md {
    width: 100%;
    min-height: 304px;
    margin: 48px auto 0 auto;
    padding: 46px 0 26px 0;

    background-color: $color-fondecor;
  }

  @include viewport--lg {
    min-height: 228px;
    margin: 50px auto 0 auto;
    padding: 43px 0 28px 0;
  }
}

.filter-checkbox__wrapper {
  @include viewport--md {
    display: flex;
    flex-direction: row;
    width: 668px;
    margin: 0 auto;
    padding: 0;
  }

  @include viewport--lg {
    width: 1050px;
    padding-left: 64px;
  }
}

.filter-checkbox__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;

  margin: 25px 0 0 0;
  padding: 0;

  list-style: none;

  @include viewport--md {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    min-width: 501px;
    width: 505px;
    margin: 4px 0 0 0;
  }

  @include viewport--lg {
    width: 770px;
    min-height: 150px;
  }
}

.filter-checkbox__item {
  position: relative;
  width: 260px;
  margin: 0;
  margin-bottom: 22px;
  padding: 0;

  @include viewport--md {
    width: 239px;
    min-height: 52px;
    margin-right: 23px;
    margin-bottom: 24px;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  @include viewport--lg {
    width: 239px;
    min-height: 52px;
    margin-right: 23px;

    &:nth-child(2n) {
      margin-right: 23px;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}

.filter-checkbox__label {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 39px;
  padding-left: 62px;

  color: $color-text;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 38px;
    height: 38px;

    border: 2px solid $color-content;

    @include viewport--md {
      width: 52px;
      height: 52px;
    }
  }

  @include viewport--md {
    min-height: 52px;
    padding-left: 80px;

    font-size: 19px;
    line-height: 18px;
  }
}

.filter-checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filter-checkbox__input:checked + .filter-checkbox__label {
  &::after {
    content: "";
    position: absolute;
    top: 40%;
    left: 13px;
    width: 11px;
    height: 20px;
    transform: translateY(-50%) skewX(6deg) rotate(48deg);

    border-bottom: 1px solid $color-text;
    border-right: 1px solid $color-text;

    @include viewport--md {
      left: 18px;
      width: 17px;
      height: 30px;
      transform: translateY(-50%) skewX(-3deg) rotate(44deg);

      border-bottom: 2px solid $color-text;
      border-right: 2px solid $color-text;
    }
  }
}

.filter-checkbox__input:disabled + .filter-checkbox__label {
  opacity: 0.5;
  pointer-events: none;
}

.filter-checkbox__label:hover {
  &::before {
    border: 2px solid $color-mail;
    outline: none;
  }
}

.filter-checkbox__input:focus + .filter-checkbox__label {
  &::before {
    border: 2px solid $color-mail;
    outline: none;
  }
}

.filter-checkbox__input:checked:focus + .filter-checkbox__label {
  &::before {
    border: 2px solid $color-mail;
    outline: none;
  }
}

.filter-checkbox__label:active {
  &::before {
    border: 2px solid $color-cont3;
  }
}
