.filter-sundry {
  width: 260px;
  min-height: 73px;
  margin: 33px auto 0 auto;
  padding: 0;

  @include viewport--md {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 668px;
    margin: 50px auto 0 auto;
  }

  @include viewport--lg {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 811px;
    min-height: 73px;
    margin: 50px 175px 0 64px;
  }
}

.filter-sundry__label {
  @include viewport--md {
    width: 500px;
  }

  @include viewport--lg {
    width: 700px;
  }
}

.filter-sundry__input {
  width: 100%;
  min-height: 142px;
  margin: 22px 0 0 0;
  padding: 15px 0 0 15px;

  font-size: 17px;
  line-height: 18px;
  color: $color-line3;

  border: 2px solid $color-text;
  // box-shadow: inset 0 -2px 0 $color-text;

  @include viewport--md {
    width: 501px;
    min-height: 142px;
    margin: 0;
    padding: 14px 0 0 14px;

    font-size: 19px;
    line-height: 18px;
  }

  @include viewport--lg {
    width: 700px;
  }

  &:hover {
    border: 2px solid $color-mail;
    outline: none;
  }

  &:focus {
    color: $color-content;
    border: 2px solid $color-mail;
  }
}

.filter-sundry__bottom {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @include viewport--md {
    justify-content: space-between;
    width: 668px;
    margin: 50px 0 -6px 0;
  }

  @include viewport--lg {
    justify-content: space-between;
    width: 700px;
    margin: 48px 0 -58px auto;
  }
}
