.filter-usermail {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-height: 73px;
  margin: 34px auto 0 auto;
  padding: 0;

  @include viewport--md {
    margin: 0 auto;
    padding: 17px 0 49px 0;

    background-color: $color-fondecor;
  }
}

.filter-usermail__wrapper {
  width: 260px;
  min-height: 72px;

  @include viewport--md {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 668px;
    min-height: 52px;
    margin: 0 auto;
    padding: 0;
  }

  @include viewport--lg {
    width: 811px;
    margin: 0 175px 0 64px;
  }
}

.filter-usermail__legend {
  position: relative;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: #63d1bb;

  @include viewport--md {
    width: 68px;
    margin-right: 100px;
    padding-top: 20px;
  }

  @include viewport--lg {
    width: 100px;
    margin-right: 5px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 78px;
    width: 182px;
    height: 1px;
    background-color: $color-mail;

    @include viewport--md {
      height: 0;
    }
  }
}

.filter-usermail__label {
  position: relative;
  width: 260px;

  @include viewport--md {
    display: flex;
    align-items: center;

    width: 501px;
    min-height: 55px;
    margin: 0;
  }

  @include viewport--lg {
    width: 700px;
  }
}

.filter-usermail__input {
  width: 260px;
  min-height: 58px;
  margin: 0;
  padding: 0;

  color: $color-line3;

  box-shadow: inset 0 -2px 0 $color-content;
  background-color: transparent;

  @include viewport--md {
    width: 501px;
    min-height: 52px;
    margin: 0;
    padding: 0 0 9px 17px;
  }

  @include viewport--lg {
    width: 700px;
  }

  &:hover {
    box-shadow: inset 0 -2px 0 $color-mail;
    outline: none;
  }

  &:focus {
    color: $color-content;
    box-shadow: inset 0 -2px 0 $color-mail;
  }

  &:hover ~ .filter-usermail__icon,
  &:focus ~ .filter-usermail__icon {
    fill: $color-mail;
    opacity: 1;
    outline: none;
  }

  &:active ~ .filter-usermail__icon {
    fill: $color-mail;
    opacity: 1;
  }
}

.filter-usermail__icon {
  position: absolute;
  top: 0;
  right: 3px;
  width: 32px;
  height: 32px;
  opacity: 0.2;

  pointer-events: none;

  @include viewport--md {
    top: 13px;
    right: 22px;
  }

  @include viewport--lg {
    right: 4px;
  }
}
