.filter-radio {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  // min-height: 171px;
  margin: 29px 0 0 0;
  padding: 0;
}

.filter-radio__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  min-height: 60px;
  margin: 24px 0 0 0;
  padding: 0;

  list-style: none;
}
