.filter-radio {
  width: 260px;
  margin: 29px auto 0 auto;
  padding: 0;

  @include viewport--md {
    width: 668px;
  }

  @include viewport--lg {
    width: 811px;
    margin: 29px 175px 0 64px;
  }
}

.filter-radio__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  min-height: 102px;
  margin: 24px 0 0 0;
  padding: 0;

  list-style: none;

  @include viewport--md {
    width: 505px;
    margin: 0;
  }

  @include viewport--lg {
    width: 700px;
  }
}

.filter-radio__item {
  min-height: 42px;

  &:first-child .filter-radio__scription {
    padding-top: 10px;
  }

  @include viewport--md {
    min-height: 55px;
  }
}

.filter-radio__label {
  display: flex;
  align-items: center;
  min-height: 47px;

  @include viewport--md {
    min-height: 55px;

    font-size: 19px;
    line-height: 18px;
  }
}

.filter-radio__input {
  position: absolute;
  width: 42px;
  height: 42px;
}

.filter-radio__button {
  max-width: 42px;
  margin-right: 21px;

  @include viewport--md {
    max-width: 54px;
  }
}

.filter-radio__scription {
  max-width: 155px;

  @include viewport--md {
    max-width: 400px;
  }
}
