.footer {
  background-color: $color-fondecor;
  width: 100%;
  margin-top: 55px;

  @include viewport--md {
    margin-top: 50px;
  }
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 260px;
  min-height: 160px;
  margin: 0 auto;
  padding: 0 $padding-min;

  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 18px;
  color: $color-text;

  @include viewport--md {
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    max-width: 1150px;
    padding: 0 $padding-max;
  }

  // @include viewport--lg {
  //   width: 1050px;
  // }
}

.footer__logo {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    width: 102px;
    height: 34px;
    margin: 0 75px 0 0;

    &:hover svg,
    &:focus svg {
      fill: $color-tintmail;
    }

    &:active svg {
      fill: $color-tint3mail;
    }
  }
}

.footer__social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 141px;
  min-height: 80px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.social-list__item {
  &:hover svg,
  &:focus svg {
    fill: $color-tintmail;
  }

  &:active svg {
    fill: $color-tint3mail;
  }
}

.footer__copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 80px;
  margin: 0;
  padding: 0;
}

.footer__logo-link {
  margin: 0 0 0 27px;
  padding: 0;

  &:hover svg,
  &:focus svg {
    fill: $color-tintmail;
  }

  &:active svg {
    fill: $color-tint3mail;
  }
}

// .footer__logo-maker {
//   width: 27px;
//   height: 34px;
//   fill: $color-lightdecor;
// }
