.innerpage-title {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-width: 320px;
  min-height: 177px;
  margin: 0 auto;
  padding: 0 30px;

  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  color: $color-text;

  background-color: $color-underline;

  @include viewport--md {
    min-height: 237px;
    padding: 75px 50px 62px;

    font-size: 43px;
    line-height: 50px;

    &::after {
      content: "";
      position: absolute;
      z-index: 10;
      bottom: -1px;
      left: 50%;
      height: 24px;
      min-width: 770px;
      width: 100%;

      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: no-repeat;
      background-position: top center;
      background-size: 100%;

      transform: translateX(-50%);
    }
  }

  @include viewport--lg {
    min-height: 259px;
    padding: 80px 50px 81px;

    font-size: 53px;
    line-height: 57px;
  }
}
