.intro {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 320px;
  min-height: 457px;

  font-style: normal;
  font-weight: bold;

  background-color: $color-fonpicture;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-position: top center;
  background-position-y: -19px;
  background-repeat: no-repeat;
  background-size: 575px 373px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
  }

  @include viewport--md {
    min-height: 758px;
    max-height: 758px;

    background-image: url("../img/hero-tablet@1x.jpg");
    background-size: 1150px 746px;
    background-position-y: 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
    }
  }

  @include viewport--lg {
    background-image: url("../img/hero-desktop@1x.jpg");
    background-size: 1145px 751px;
    background-position-y: -4px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
    }
  }
}

.intro__title {
  align-self: center;
  width: 260px;
  min-height: 90px;
  margin: 73px auto 120px auto;
  padding: 0;

  text-align: center;
  font-size: 27px;
  line-height: 30px;
  color: $color-introtext;

  @include viewport--md {
    width: 668px;
    margin: 155px auto 372px auto;

    font-size: 43px;
    line-height: 50px;
  }

  @include viewport--lg {
    width: 700px;
    margin: 157px auto 355px auto;

    font-size: 53px;
    line-height: 57px;
  }
}

.intro__list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
  min-width: 320px;
  min-height: 206px;

  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 19px;
  line-height: 24px;

  @include viewport--md {
    flex-direction: row;
    justify-content: center;
    min-height: 131px;

    &::after {
      content: "";
      position: absolute;
      z-index: 10;
      top: 107px;
      left: 50%;
      height: 24px;
      min-width: 770px;
      width: 100%;

      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: no-repeat;
      background-position: top center;
      background-size: 100%;

      transform: translateX(-50%);
    }
  }

  @include viewport--lg {
    min-height: 136px;

    &::after {
      top: 101px;
      min-width: 1250px;
      max-width: 1250px;
      height: 34px;

      transform: translateX(-50%);
    }
  }
}

.intro__item {
  position: absolute;
  left: 0;
  width: 100%;

  &:nth-child(1n) {
    top: 0;

    & .intro__link {
      background-color: $color-lightdecor;
    }
  }

  &:nth-child(2n) {
    top: 103px;

    & .intro__link {
      background-color: $color-darkdecor;
    }
  }

  @include viewport--md {
    min-height: 119px;
    margin: 0 auto;

    font-size: 20px;
    line-height: 30px;

    &:nth-child(1n) {
      left: 0;
      top: 0;
    }

    &:nth-child(2n) {
      left: 50%;
      top: 0;
    }
  }
}

.intro__link {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;

  width: 100%;
  min-height: 103px;
  margin: 0;
  padding: 24px 0 0 30px;

  color: $color-fonbasic;

  & svg {
    opacity: 0.5;
  }

  &:hover svg,
  &:focus svg {
    opacity: 1;
    transition: ease-in-out;
    transition-duration: 0.2s;
    outline: none;
  }

  &:active svg {
    opacity: 0.3;
    transition: ease-in-out;
    transition-duration: 0.2s;
  }

  @include viewport--md {
    width: 50%;
    min-height: 119px;
    margin: 0 auto;

    font-size: 20px;
    line-height: 30px;

    &:nth-of-type(1n) {
      left: 0;
      top: 0;
    }

    &:nth-of-type(2n) {
      left: 50%;
      top: 0;
    }
  }

  @include viewport--md {
    padding: 26px 0 0 36px;
  }

  @include viewport--lg {
    max-width: 525px;
    min-height: 120px;

    font-size: 20px;
    line-height: 30px;
  }
}

.intro__item .intro__link:hover,
.intro__item .intro__link:focus,
.intro__item .intro__link:active {
  outline: none;

  @include viewport--md {
    padding-bottom: 5px;
    top: -5px;
    min-height: 124px;
    transition: ease-in-out;
    transition-duration: 0.2s;
  }
}

.intro__item:nth-child(1n) .intro__link:hover,
.intro__item:nth-child(1n) .intro__link:focus,
.intro__item:nth-child(1n) .intro__link:active {
  background-color: $color-button1n;
  transition: ease-in-out;
  transition-duration: 0.2s;
  outline: none;
}

.intro__item:nth-child(2n) .intro__link:hover,
.intro__item:nth-child(2n) .intro__link:focus,
.intro__item:nth-child(2n) .intro__link:active {
  background-color: $color-tintmail;
  transition: ease-in-out;
  transition-duration: 0.2s;
  outline: none;
}

.intro__article {
  width: 130px;
}

.intro__icon {
  fill: $color-menu;

  &--interior {
    margin-top: -2px;
    margin-right: 36px;

    @include viewport--md {
      margin-top: 4px;
    }
  }

  &--toy {
    margin-top: -4px;
    margin-right: 27px;

    @include viewport--md {
      margin-top: 6px;
      margin-right: 34px;
    }
  }
}
