.menu-nav {
  position: absolute;
  top: 79px;
  left: 0;

  display: none;
  flex-direction: column;
  width: 100%;

  background-color: $color-fonbasic;

  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: $color-text;

  @include viewport--md {
    position: static;

    display: flex;
    flex-direction: row;

    background-color: transparent;
  }

  @include viewport--lg {
    justify-content: space-between;
  }

  &--no-js {
    position: static;

    display: flex;
  }

  &--open {
    display: flex;
    z-index: 1;
  }

  ul {
    margin: 0;
    padding: 0;

    list-style: none;
  }
}

.menu-nav__inner-list {
  @include viewport--md {
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    width: 48%;
    min-height: 44px;

    transform: translateY(110px);
  }

  @include viewport--lg {
    width: 40%;

    transform: translateY(0);
  }
}

.menu-nav__inner-item {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 79px;
  margin: 0;
  padding: 4px 0 0 76px;

  box-shadow: 0 1px 0 $color-underline, inset 0 1px 0 $color-underline;

  @include viewport--md {
    z-index: 1;
    display: flex;
    align-items: flex-start;
    width: 150px;
    min-height: 89px;
    max-height: 89px;
    margin: 0;
    margin-right: 20px;
    padding: 0;

    font-size: 15px;
    line-height: 24px;

    box-shadow: none;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  @include viewport--lg {
    align-items: center;
    width: 185px;
    min-height: 89px;
    margin-right: 35px;

    font-size: 17px;
  }
}

.menu-nav__inner-item--desktop {
  display: none;

  @include viewport--lg {
    display: block;
    padding-top: 20px;

    font-size: 15px;
    line-height: 24px;
  }
}

.menu-nav__help-list {
  @include viewport--md {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 52%;
  }

  @include viewport--lg {
    width: 40%;
  }
}

.menu-nav__help-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 79px;
  margin: 0;
  padding: 3px 30px 0 31px;

  box-shadow: 0 1px 0 $color-underline, inset 0 1px 0 $color-underline;

  @include viewport--md {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    width: 76%;
    min-height: 89px;
    // margin-left: 7%;
    padding: 0;

    &:first-child {
      justify-content: center;
      width: 24%;
      margin-left: 0;
      border-left: 1px solid $color-line1;
      border-right: 1px solid $color-line1;

      span {
        font-size: 0;
      }
    }
  }

  &--tablet {
    display: none;

    @include viewport--md {
      z-index: 1;
      display: flex;
      align-items: flex-start;
      width: 70%;
      padding-top: 20px;

      font-weight: normal;
      font-size: 15px;
      line-height: 24px;

      box-shadow: none;
    }
  }

  @include viewport--lg {
    width: 264px;
    // margin-left: 14px;

    &:first-child {
      width: 84px;
      margin-left: 0;
    }
  }
}

.menu-nav__help-item:nth-child(1) svg {
  margin-right: 26px;
  margin-left: 1px;

  @include viewport--md {
    margin-right: 0;
  }
}

.menu-nav__help-item:nth-child(2) svg {
  margin-right: 25px;

  @include viewport--md {
    margin-left: 30px;
    margin-right: 30px;
    flex-shrink: 0;
  }
}

.menu-nav__help-item:nth-child(2) span {
  min-width: 175px;
  text-align: right;
}

.menu-nav__help-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-height: 76px;
  margin: 0;

  @include viewport--md {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.menu-nav__link:hover,
.menu-nav__link:focus,
.menu-nav__help-link:hover,
.menu-nav__help-link:focus {
  color: $color-line6;
  outline: none;
}

.menu-nav__link:active,
.menu-nav__help-link:active {
  color: $color-line3;
}

.menu-nav__help-link svg {
  opacity: 0.2;
}

.menu-nav__help-link:hover svg,
.menu-nav__help-link:focus svg {
  fill: $color-lightdecor;
  opacity: 1;
  outline: none;
}

.menu-nav__help-link:active svg {
  fill: $color-lightdecor;
  opacity: 0.3;
}
