.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;

  // display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  display: none;
}

.modal--active {
  display: flex;
}

.modal__container {
  position: relative;

  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;

  width: 100%;

  @include viewport--md {
    width: 566px;
  }
}

.modal__overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: $color-modaloverlay;
}

.modal__cartfill {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  min-width: 320px;
  max-width: 400px;
  min-height: 336px;
  padding: 29px 30px 46px 30px;

  background-color: $color-fonbasic;
  border: 1px solid $color-modalborder;
  box-shadow: 0 5px 10px $color-modalshadow;

  form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 135px;
  }

  @include viewport--md {
    width: 566px;
    min-width: 566px;
  }
}

.modal__caption {
  width: 176px;
  margin: 0;
  padding: 0;
  padding-bottom: 7px;

  font-weight: bold;
  font-size: 25px;
  line-height: 30px;

  text-align: center;
  text-transform: uppercase;

  @include viewport--md {
    width: 381px;
    margin: 7px 0 0 0;
    padding-bottom: 10px;

    font-size: 30px;
    line-height: 57px;
  }
}

.modal__text {
  margin: 0;
  padding: 0;
  padding-bottom: 10px;

  font-weight: normal;
  font-size: 15px;
  line-height: 30px;

  text-align: center;

  @include viewport--md {
    font-size: 17px;
    line-height: 30px;
  }
}

.modal__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;

  margin: 0;
  padding: 0;
  list-style: none;

  li:nth-of-type(3n) {
    margin: 0 0 15px 0;
  }

  @include viewport--md {
    li:nth-of-type(4n) {
      margin: 0 0 20px 0;
    }
  }
}

.modal__item {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 5px 15px 0;
  padding: 0;

  @include viewport--md {
    margin: 0 8px 20px 0;
  }
}

.modal__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;

  &:focus + .modal__label {
    border: 2px solid $color-line3;
    outline: none;
  }
}

.modal__label {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 82px;
  min-height: 52px;

  background: $color-fonbasic;
  mix-blend-mode: normal;
  border: 2px solid $color-line1;
  cursor: pointer;

  @include viewport--md {
    width: 112px;
  }

  &:hover {
    border: 2px solid $color-line3;
    outline: none;
  }
}

.modal__input:checked + .modal__label {
  border: 2px solid $color-lightdecor;
}

.modal__scription {
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;

  text-transform: uppercase;
}

.modal__button {
  width: 260px;
  margin: 0 auto;
  padding-bottom: 5px;

  font-weight: bold;
  font-size: 17px;
  line-height: 16px;

  color: $color-fonbasic;
  background-color: $color-lightdecor;
  border: none;

  @include viewport--md {
    width: 350px;
  }
}
