.page-header {
  position: relative;
  min-height: 79px;
  min-width: 320px;

  background-color: $color-fonbasic;
  box-shadow: 0 1px 0 $color-underline, inset 0 1px 0 $color-underline;

  @include viewport--md {
    height: 89px;
  }
}

.page-header__logo {
  display: flex;
  justify-content: center;
  width: 100%;

  padding-top: 22px;
  padding-bottom: 20px;
  cursor: pointer;

  &--no-pointer {
    pointer-events: none;
  }

  @include viewport--md {
    position: absolute;
    top: 0;
    left: 0;

    justify-content: flex-start;
    width: 48%;
    padding-top: 22px;
    padding-bottom: 21px;
    padding-left: 48px;
  }

  @include viewport--lg {
    left: 50%;
    justify-content: center;

    width: auto;
    height: auto;
    padding-top: 9px;
    padding-bottom: 7px;
    padding-left: 0;

    transform: translateX(-50%);

    & picture {
      width: 149px;
      height: 72px;
    }
  }

  &:hover,
  &:focus {
    opacity: 0.6;
    outline: none;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-header__logo img {
  width: 86px;
  height: 35px;

  @include viewport--md {
    display: block;
    width: 113px;
    height: 46px;
  }

  @include viewport--lg {
    width: 149px;
    height: 72px;
  }
}

.page-header__toggle-btn {
  position: absolute;
  top: 39px;
  right: 25px;
  border: 0;
  background-color: transparent;

  transform: translateY(-50%);
  cursor: pointer;

  svg {
    fill: $color-svg;
  }

  @include viewport--md {
    display: none;
  }

  span:nth-child(2) {
    display: none;
  }

  &--active {
    span:nth-child(1) {
      display: none;
    }

    span:nth-child(2) {
      display: block;
      border: 0;
      background-color: transparent;
    }
  }

  &:hover,
  &:focus {
    outline: none;
  }

  // &:active {
  //   border: 0;
  //   background-color: transparent;
  // }
}
