.slider {
  position: relative;
  display: flex;
  // flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  min-height: 615px;
  margin: 58px auto 0 auto;

  @include viewport--md {
    min-height: 541px;
    margin: 65px auto 0 auto;
  }

  @include viewport--lg {
    min-height: 546px;
    margin: 69px auto 0 auto;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 6px;

    background-image: url("../img/bg-zigzag-line.svg");
    background-color: transparent;
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: contain;

    @include viewport--md {
      left: 50%;
      min-height: 17px;

      transform: translateX(-50%);
    }

    @include viewport--lg {
      // bottom: -123px;
      // left: -124px;
      width: 1050px;
      min-height: 23px;
    }
  }
}

.slider__wrapper {
  position: relative;
  background-image: none;

  @include viewport--md {
    width: 768px;
    min-height: 457px;
    margin: 0 auto;
    padding-top: 78px;
  }

  @include viewport--lg {
    width: 1050px;
  }
}

.slider__picture {
  position: absolute;
  top: 0;
  left: 0;
  display: none;

  @include viewport--md {
    display: block;
    width: 350px;
    min-height: 457px;

    background-image: url("./../img/review@1x.jpg");
    background-color: $color-line1;
    background-repeat: no-repeat;
    background-size: 350px 457px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/review@2x.jpg");
    }
  }
}

.slider__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  width: 260px;
  min-height: 628px;

  @include viewport--md {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 768px;
    margin-top: 6px;
    min-height: 328px;
    padding: 0 $padding-max;
  }

  @include viewport--lg {
    width: 976px;
    min-height: 283px;
    margin-left: 124px;
    margin-top: 1px;
  }
}

.slider__title {
  width: 260px;
  margin: 0 auto;
  padding: 0;

  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: $color-text;

  @include viewport--md {
    order: -2;
    margin: 0 auto 0 0;

    font-size: 43px;
    line-height: 50px;
  }

  @include viewport--lg {
    font-size: 53px;
    line-height: 57px;
  }
}

.slider__list {
  margin: 14px 0 0 0;
  padding: 0;
  list-style: none;

  @include viewport--md {
    margin: 39px 0 0 0;
  }

  @include viewport--lg {
    margin: 35px 0 0 0;
  }
}

.slider__item {
  margin: 0;
  padding: 0;

  &--noactive {
    display: none;
  }

  @include viewport--md {
    width: 650px;

    font-size: 17px;
    line-height: 30px;
  }

  @include viewport--lg {
    width: 875px;
  }
}

.slider__matter {
  margin: 0;
  padding: 0;
}

.slider__signature {
  margin: 33px auto 0 auto;
  padding: 0;

  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: $color-text;

  @include viewport--md {
    width: 284px;
    margin: 60px 0 0 0;
    font-size: 18px;
    line-height: 24px;
  }

  @include viewport--lg {
    margin: 44px 0 0 0;
  }
}

.slider__link {
  display: block;
  margin-top: 5px;

  font-weight: normal;
  line-height: 30px;
  color: $color-content;

  @include viewport--md {
    font-size: 17px;
    line-height: 30px;
  }
}

.slider__controls {
  display: flex;
  position: relative;

  width: 100%;
  min-height: 52px;
  margin: 26px 0 0 0;
  padding: 0;

  border: 1px solid $color-underline;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    min-height: 52px;
    background-color: $color-underline;

    @include viewport--md {
      width: 0;
    }
  }

  @include viewport--md {
    bottom: 56px;
    left: 493px;
    width: 174px;
    min-height: 26px;
    margin: 0;
    padding: 0;

    border: none;
  }

  @include viewport--lg {
    bottom: 57px;
    left: 701px;
  }
}

.slider__control {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 50%;
  min-height: 52px;
  padding: 0;

  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;

  &:hover svg,
  &:focus svg {
    fill: $color-line6;
    outline: none;
  }

  &:active svg {
    fill: $color-line3;
    outline: none;
  }

  // &--left {
  //   background-image: url("../img/icon-left-arrow.svg");
  // }

  // &--right {
  //   background-image: url("../img/icon-right-arrow.svg");
  // }
}

.slider__button {
  margin: 38px 0 20px 0;

  @include viewport--md {
    order: -1;
    width: 175px;
    margin: -5px 0 0;
    padding: 0;
  }

  @include viewport--lg {
    margin: 0;
  }
}
