.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  width: 260px;
  min-height: 655px;
  margin-top: 58px;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 6px;

    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;

    @include viewport--md {
      min-height: 17px;
    }

    @include viewport--lg {
      bottom: -123px;
      left: -124px;
      width: 1050px;
      min-height: 23px;
    }
  }

  @include viewport--md {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 768px;
    margin-top: 0;
    min-height: 457px;
  }

  @include viewport--lg {
    width: 976px;
    min-height: 283px;
    margin-left: 124px;
  }
}

.slider__title {
  margin: 0 auto;
  padding: 0;

  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: $color-text;

  @include viewport--md {
    order: -2;
    margin: 0 auto 0 0;

    font-size: 43px;
    line-height: 50px;
  }

  @include viewport--lg {
    font-size: 53px;
    line-height: 57px;
  }
}

.slider__list {
  margin: 40px 0 0 0;
  padding: 0;
  list-style: none;

  @include viewport--lg {
    margin: 35px 0 0 0;
  }
}

.slider__item {
  margin: 0;
  padding: 0;

  @include viewport--md {
    width: 650px;

    font-size: 17px;
    line-height: 30px;
  }

  @include viewport--lg {
    width: 875px;
  }
}

.slider__matter {
  margin: 0;
  padding: 0;
}

.slider__signature {
  margin: 33px auto 0 auto;
  padding: 0;

  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: $color-text;

  @include viewport--md {
    width: 284px;
    margin: 61px 0 0 0;
    font-size: 18px;
    line-height: 24px;
  }

  @include viewport--lg {
    margin: 44px 0 0 0;
  }
}

.slider__link {
  font-weight: normal;
  line-height: 30px;
  color: $color-content;

  @include viewport--md {
    font-size: 17px;
    line-height: 30px;
  }
}

.slider__controls {
  display: flex;
  position: relative;

  width: 100%;
  min-height: 52px;
  margin: 33px 0 0 0;
  padding: 0;

  border: 1px solid $color-underline;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    min-height: 52px;
    background-color: $color-underline;

    @include viewport--md {
      width: 0;
    }
  }

  @include viewport--md {
    bottom: 80px;
    left: 500px;
    width: 137px;
    height: 26px;
    margin: 0;
    padding: 0;

    border: none;
  }

  @include viewport--lg {
    bottom: 55px;
    left: 720px;
  }
}

.slider__control {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 50%;
  min-height: 52px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;

  &:hover svg,
  &:focus svg {
    fill: $color-line6;
    outline: none;
  }

  &:active svg {
    fill: $color-line3;
    outline: none;
  }

  // &--left {
  //   background-image: url("../img/icon-left-arrow.svg");
  // }

  // &--right {
  //   background-image: url("../img/icon-right-arrow.svg");
  // }
}

.slider__button {
  margin: 39px 0 0 0;

  @include viewport--md {
    order: -1;
    margin: 0;
    padding: 0;
  }
}
