.container-max {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-self: center;

  width: 320px;
  // width: 100%;
  // max-width: 1920px;
  margin: 0 auto;
}

.container-min {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-self: center;

  width: 320px;
  padding: 0 30px;
}
