$color-fonbasic: #ffffff;
$color-fondecor: #f1f1f1;
$color-underline: #ececec;
$color-border: #444444;
$color-text: #000000;
$color-introtext: #010000;
$color-lightdecor: #63d1bb;
$color-darkdecor: #56c3b2;
