// viewports
//-----------
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1150px;
$padding-min: 30px;
$padding-max: 50px;

//fonts
//-----------
$font-main: "Open Sans", "Arial", sans-serif;

//colors
//-----------
$color-fonbasic: #ffffff;
$color-fondecor: #f1f1f1;
$color-underline: #ececec;
$color-fonpicture: #f9f9f9;
$color-content: #444444;
$color-text: #000000;
$color-introtext: #010000;
$color-lightdecor: #63d1bb;
$color-mail: #62d1ba;
$color-darkdecor: #56c3b2;
