//fonts
//-----------
$font-main: "Open Sans";
$font-reserve: "Arial";
$font-browser: sans-serif;

//colors
//-----------
$color-fonbasic: #ffffff;
$color-fondecor: #f1f1f1;
$color-underline: #ececec;
$color-fonpicture: #e9e9e9;
$color-content: #444444;
$color-text: #000000;
$color-introtext: #010000;
$color-lightdecor: #63d1bb;
$color-mail: #62d1ba;
$color-darkdecor: #56c3b2;
